body{
    background-image:url(https://i.pinimg.com/564x/c7/7b/57/c77b57e516e3716d9723b1af9a182c58.jpg) ;
    border:3px dotted red;
    padding: 5px;
    font size: 20                                                                                          px;
    color:dark blue ;

}
.campo{
    background-color: rgb(247, 179, 225);
}
textarea{
    width: 150px;
    height: 100px;
    background-color: rgb(151, 234, 173);
    color: rgb(14, 5, 51);

}